{
  "printWidth": 100,
  "tabWidth": 4,
  "endOfLine": "lf",
  "useTabs": false,

  "trailingComma": "none",
  "semi": true,
  "singleQuote": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",

  "proseWrap": "never",

  "overrides": [
    {
      "files": ["*.json", "*.md"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
